* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height:100%;
}

body {
  color: var(--black);
  /* background: var(--backColor); */
  font-family: 'Roboto', sans-serif;

  background: linear-gradient(-45deg, #a8a8a8, #999999, #666666, #333333, #000000);
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

#grid {
    z-index: 10;
    margin:var(--twentypx) auto var(--twentypx) auto;
    width:var(--tenfortypx);
    height:auto;
    display: var(--grid);
    align-items: var(--start);
    grid-gap: var(--tenpx);
    grid-template-columns: repeat(5, 200px);
    grid-template-rows: repeat(3, var(--gHight));
    grid-template-areas: 
        "a a b b b"
        "a a b b b"
        "a a b b b";
}

#a {
    grid-area: a;
    z-index: 15;
    display: var(--grid);
    display: inline-flex;
    color: white;
}

a:hover {
  color: #ffffff
}

#b {
    grid-area: b;
    z-index: 15;
    padding: 0px 35px;
    display: var(--grid);
    display: inline-flex;
    color: white;
}

.container {
    padding: 0.01em 16px;
    align-self: start;
    width: 100%;
    height: 100%;
    
}

.center {
    text-align: center!important;
}

p {
    font-size: 15px;
    line-height: 1.5;
    display: block;
    margin-block-start: 0.20em;
}

hr {
    border: 0;
}

.big {
    display: block;
    margin-block-start: 0.75em;
}

.jobTime {
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-block-start: 0.67em;
}
span b {
    font-size: 15px;
    font-weight: normal;
    float:right;
    position:relative;
    top: 10px;
}

.wrapper{
    text-align: center;
    padding-top: 5px;
}

.wrapper .icon{
  background-color: #ffffff00; /* transparent, dont change */
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.wrapper .linkedin:hover {
  background-color: #0A66C2;
  color: var(--socialHover);
}

.wrapper .github:hover {
  background-color: #333333;
  color: var(--socialHover);
}

.wrapper .stack-overflow:hover {
  background-color: #F48024;
  color: var(--socialHover);
}

.wrapper .email:hover {
  background-color: #de463b;
  color: var(--socialHover);
}

.wrapper .phone:hover {
  background-color: #3EB349;
  color: var(--socialHover);
}