:root{
  --card-color: #D3A625;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #EEECE3;
  padding: 10px;
  background: linear-gradient(-45deg, #FFFFFF, #9E1C1C, #7D0A0A, #5B1414);
  background-size: 400% 400%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.header {
  color: #5B1414; 
  font-size: xx-large;
  text-decoration: underline;
}

.homepage-container {
  display: flex;
  flex-direction: column; 
  padding: 20px;
}

.profile-image {
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px; 
}

.profile-section {
  display: flex;
  flex-direction: column;
  align-items: center; 
  padding: 20px;
  margin-bottom: 20px; 
  background-color: var(--card-color);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1.15);
}

.social-wrapper {
  text-align: center;
  padding-top: '10px';
  display: 'flex';
  flex-direction: 'row';
}

.social-wrapper .icon{
  background-color: #ffffff00; 
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 23px;
  display: inline-block;
  cursor: pointer;
  color: white;
  text-decoration: none;
}

.social-wrapper .github:hover {
  background-color: #333333;
  color: var(--socialHover);
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 10px; 
  background-color: var(--card-color);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 1.15);
}

.social-wrapper .github:hover {
  background-color: #333333;
  color: var(--socialHover);
}

.social-wrapper .email:hover {
  background-color: #de463b;
  color: var(--socialHover);
}

.social-wrapper .linkedin:hover {
  background-color: #0A66C2;
  color: var(--socialHover);
}

.jobTime {
  font-size: 22px;
  font-weight: bold;
  display: block;
  margin-block-start: 0.67em;
}
span b {
  font-size: 15px;
  font-weight: normal;
  float:right;
  position:relative;
  top: 10px;
}

@media (min-width: 768px) {
  .homepage-container {
    flex-direction: row; /* Switch to horizontal layout */
    justify-content: flex-start; /* Align content to the left */
    align-items: flex-start; /* Align vertically at the top */
  }

  .profile-section {
    flex: 1; /* Occupy one part of the horizontal layout */
  }

  .main-content {
    flex: 2; /* Occupy two parts of the horizontal layout */
    margin-left: 20px; /* Space between sections */
  }

  .social-icons {
    margin-top: 10px; /* Space between image and icons */
  }
}
